<div>
  <nav class="navbar navbar-expand navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Desafio - Eldorado</a>
    <div class="navbar-nav mr-auto">
      <li class="nav-item">
        <a routerLink="category" class="nav-link">Category Management</a>
      </li>
      <li class="nav-item">
        <a routerLink="device" class="nav-link">Device Management</a>
      </li>
    </div>
    <p class="text-muted">By.Diego Delsoto</p>
  </nav>

  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div> 
</div>